*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 1200px;
    margin: 0 auto;
}
#location .breadctumb{
    text-align: right;
    padding: 10px 0;
    font-size: 12px;
}
#location .title{
    padding-bottom: 36px;
    border-bottom: 1px solid #ccc;
}
#location .title h2{
    font-size: 35px;
}

#location .title p{
    font-size: 18px;
}
.location-contents{
    padding-top: 80px;
    padding-bottom: 80px;
}
.tab-group{
    display: flex;
    overflow: hidden;
    margin-bottom: 40px;
}
.tab-group .btn{
    display: block;
    width: 25%;
    padding: 20px;
    border-right: none;
}
.tab-group .btn.active{
    background: #2167af;
    color: #fff;
}
.tab-group .btn:last-child{
    border-right: 1px solid black;
}
#map{
    width: 1200px;
    height: 500px;
    background: #999;
}